In [1]:
import pandas as pd

We are going to learn series first

In [3]:
s1 = pd.Series([71,84,56,23,58,98])

In [6]:
type(s)

pandas.core.series.Series

In [7]:
print(s)

0    71
1    84
2    56
3    23
4    58
5    98
dtype: int64

We can also assign indexing one by one using manual way

In [20]:
s2 = pd.Series([71,84,56,23,58,98], index = ["Harry","Rohit","Rahul","Shubham","Prithvi","Deepali"])

In [21]:
s1

Harry      71
Rohit      84
Rahul      56
Shubham    23
Prithvi    58
Deepali    98
dtype: int64

In [22]:
s2

Harry      71
Rohit      84
Rahul      56
Shubham    23
Prithvi    58
Deepali    98
dtype: int64

In [23]:
s2["Rohit"]

np.int64(84)

In [24]:
s2["Shubham"]

np.int64(23)

# DataFrame - 2D Labeled Table
. A DataFrame is like a dictionary of Series -- multiple columns with labels

In [25]:
data = {
    "name": ["Rohit","Rahul","Mohit"],
    "age": [21, 24, 12],
    "city": ["Kapurthala", "Uttarakhand", "Motihari"],

}

df = pd.DataFrame(data)
print(df)

    name  age         city
0  Rohit   21   Kapurthala
1  Rahul   24  Uttarakhand
2  Mohit   12     Motihari

In [26]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.columns

Index(['name', 'age', 'city'], dtype='object')