In [1]:
import pandas as pd

In [2]:
data = [['harry',34],["jack",47],['Rohit',76],['Shubham',98]]

In [4]:
pd.DataFrame(data,columns=["Name","Marks"])

      Name  Marks
0    harry     34
1     jack     47
2    Rohit     76
3  Shubham     98

From decitionary of list to dataframe

In [5]:
data = {"a":[1,2,3], "b":[56,78,89]}

In [6]:
pd.DataFrame(data)

   a   b
0  1  56
1  2  78
2  3  89

In [7]:
data

{'a': [1, 2, 3], 'b': [56, 78, 89]}

Creating DataFrame from numpy arrays

In [8]:
import numpy as np

In [9]:
arr = np.array([[1,2],[3,4]])

In [11]:
pd.DataFrame(arr,columns=["A","B"])

   A  B
0  1  2
1  3  4

In [1]:
import sys
!{sys.executable} -m pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
import pandas as pd
df = pd.read_excel("data.xlsx")
print(df.head())

       Name School  Marks
0     Rohit    Ups     34
1     Ankit    spc     45
2   Shubham    rts     67
3  Ashutosh    mry     89
4     Rahul    lyu     98

In [3]:
df

       Name School  Marks
0     Rohit    Ups     34
1     Ankit    spc     45
2   Shubham    rts     67
3  Ashutosh    mry     89
4     Rahul    lyu     98
5     Priya   ryus     76
6       NaN    NaN     54

In [5]:
df

       Name School  Marks
0     Rohit    Ups     34
1     Ankit    spc     45
2   Shubham    rts     67
3  Ashutosh    mry     89
4     Rahul    lyu     98
5     Priya   ryus     76
6       NaN    NaN     54

In [10]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

In [11]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [15]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [18]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [20]:
df.shape

(244, 7)

In [22]:
pd.read_csv("data.csv")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [23]:
df = pd.read_csv("data.csv", encoding="latin1")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 3

In [24]:
df = pd.read_csv("data.csv", encoding="cp1252")

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 16: character maps to <undefined>

In [25]:
import chardet

with open("data.csv", "rb") as f:
    result = chardet.detect(f.read(100000))  # check first 100 KB
print(result)

ModuleNotFoundError: No module named 'chardet'