In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("rohit.csv")

In [66]:
df

,Actor,Film,Year,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,565,6.0
2,Amir Khan,Dangal,2016,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,431,5.6
4,Ranveer Singh,Padmaavat,2018,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,111,8.3
6,Rajkumar Rao,Stree,2018,180,7.5
7,Hrithik Roshan,War,2019,475,6.5
8,Akshay Kumar,Good Newwz,2019,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa,2022,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhanyia,2017,201,6.1
11,Vicky Kaushal,Uri: The surgical strike,2019,342,8.2

In [67]:
df['Actor']

0         Shah Rukh Khan
1            Salman Khan
2              Amir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6           Rajkumar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11        Vicky Kaushal
Name: Actor, dtype: object

In [68]:
df[['Actor','IMDb']]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2            Amir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6         Rajkumar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11      Vicky Kaushal    8.2

Selecting Rows by index

In [69]:
df.loc[1] # Like if we want to detailof one by one then we can use loc

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [70]:
df.iloc[1]  # if there is no indexing based 1 or 2 if even it is based on a b it will return the same index but compare to loc it will only work with label

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

Select Specific raws and columns

In [71]:
df.iloc[7,2]

np.int64(2019)

In [72]:
df.loc[7,"Actor"]

'Hrithik Roshan'

In [73]:
df.iloc[7,3]

np.int64(475)

In [74]:
df.loc[0:2,["IMDb","Actor","Film"]]

   IMDb           Actor             Film
0   7.2  Shah Rukh Khan          Pathaan
1   6.0     Salman Khan  Tiger Zinda Hai
2   8.4       Amir Khan           Dangal

In [75]:
df.iloc[0:2,0:2]  # look if i talk

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai

In [76]:
df.at[0,"Actor"]

'Shah Rukh Khan'

In [77]:
df.iat[0,0]

'Shah Rukh Khan'

In [78]:
df.iat[1,2]

np.int64(2017)

In [79]:
df[df["IMDb"] > 6]

,Actor,Film,Year,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,1050,7.2
2,Amir Khan,Dangal,2016,2024,8.4
4,Ranveer Singh,Padmaavat,2018,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,111,8.3
6,Rajkumar Rao,Stree,2018,180,7.5
7,Hrithik Roshan,War,2019,475,6.5
8,Akshay Kumar,Good Newwz,2019,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhanyia,2017,201,6.1
11,Vicky Kaushal,Uri: The surgical strike,2019,342,8.2

In [80]:
df[(df["IMDb"]>6) & (df["Year"]>2019)]

            Actor     Film  Year  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023                  1050   7.2

In [81]:
df[(df["IMDb"]>6) | (df["Year"]>2018)]

,Actor,Film,Year,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,1050,7.2
2,Amir Khan,Dangal,2016,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,431,5.6
4,Ranveer Singh,Padmaavat,2018,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,111,8.3
6,Rajkumar Rao,Stree,2018,180,7.5
7,Hrithik Roshan,War,2019,475,6.5
8,Akshay Kumar,Good Newwz,2019,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa,2022,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhanyia,2017,201,6.1
11,Vicky Kaushal,Uri: The surgical strike,2019,342,8.2

# Querying with .query()
. look if you think that using single condition or multiple condition can be burden then to handle that we can use.query() function

In [82]:
df.query("Year > 2019 and IMDb > 6")

            Actor     Film  Year  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023                  1050   7.2

In [83]:
df.query("Year > 2019 or IMDb > 6")

,Actor,Film,Year,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,1050,7.2
2,Amir Khan,Dangal,2016,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,431,5.6
4,Ranveer Singh,Padmaavat,2018,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,111,8.3
6,Rajkumar Rao,Stree,2018,180,7.5
7,Hrithik Roshan,War,2019,475,6.5
8,Akshay Kumar,Good Newwz,2019,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa,2022,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhanyia,2017,201,6.1
11,Vicky Kaushal,Uri: The surgical strike,2019,342,8.2

Column names become variable

In [84]:
df.query("IMDb > 7 and Year > 2019")

            Actor     Film  Year  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023                  1050   7.2

String value must be in quotes

. Use single or double quotes around strings in the expression

In [85]:
df.query("Actor == 'Shah Rukh Khan'")

            Actor     Film  Year  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023                  1050   7.2

Use backtricks for column names with spaces or special characters

. If a column name has spaces, use backticks(`):

In [86]:
df.query("Actor == 'Amir Khan'")

       Actor    Film  Year  BoxOffice(INR Crore)  IMDb
2  Amir Khan  Dangal  2016                  2024   8.4

Logical Operator

. Instead of using &, |, ~, - ==, !=, <, > , <=, >=, 
. Use this and, or, not

In [89]:
df.query("Year > 2018 and IMDb >= 7")

             Actor                      Film  Year  BoxOffice(INR Crore)  IMDb
0   Shah Rukh Khan                   Pathaan  2023                  1050   7.2
8     Akshay Kumar                Good Newwz  2019                   318   7.0
11  Vicky Kaushal   Uri: The surgical strike  2019                   342   8.2

Chained comparisons

In [92]:
df.query("7 < IMDb < 9")

,Actor,Film,Year,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,1050,7.2
2,Amir Khan,Dangal,2016,2024,8.4
5,Ayushmann Khurrana,Andhadhun,2018,111,8.3
6,Rajkumar Rao,Stree,2018,180,7.5
11,Vicky Kaushal,Uri: The surgical strike,2019,342,8.2

Avoid using reserved keywords as column names

. If you have a column named class, lambda, etc., you'll need to use backticks

In [96]:
df.query("Actor == 'Shah Rukh Khan'")

            Actor     Film  Year  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023                  1050   7.2

Case-sensitive

.Column names and string value are case-sensitive

.query() returns a copy, not a view

. The result is a new DataFrame. Changes won't affect the original unless reassigned

# Summary
. Use df[col], .iloc[], .at[], .iat[] to access data
. Filter with logical conditions or .query() for readable code
. Mastering selection makes the rest of pandas feel easy